/* Apply styles to the body element */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Apply styles to the header element */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Apply styles to the main content section */
main {
    margin: 20px;
}

.volunteer-intro h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.volunteer-intro ul {
    margin-top: 10px;
    margin-bottom: 20px;
}

.volunteer-application h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.volunteer-application form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

/* Apply styles to the footer element */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}